<h1>Pact</h1>

<p>
  Think of a thing you can do that will make a positive change to your neighbourhood - pick up litter, check in on a neighbour, arrange a street party.
</p>

<p>
  Now imagine five people in your community have promised to do that thing too, or ten people, or twenty. How would that make you feel about your neighbourhood?
</p>

<p>
  It might be hard for one person on their own to make a difference. But when a group of people agree to take action, things start happening.
</p>


<%= link_to 'Get started', new_pact_path, class: 'btn btn-primary'%>

<section class="example-pact-statements">
  <h2>
    Example pacts
  </h2>

  <div class="">

  </div>

  <blockquote>
    I, <span>Mina</span>, will <span>organise a night of street carol singing this December</span> and I need at least <span>10</span> more people to join me.
  </blockquote>

  <blockquote>
    I, <span>Luigi</span>, will <span>help with the local streetgames activities at St Mary’s every Tuesday evening until the end of the year</span> and I need  at least <span>5</span> more people to join me.
  </blockquote>

  <blockquote>
    I, <span>Gabriela</span>, will <span>check up on my elderly neighbour once a week</span> and I need at least <span>5</span> more people to join me.
  </blockquote>

</section>

<%= link_to 'Get started', new_pact_path, class: 'btn btn-primary'%>
