<h1>Co-op Pact</h1>

<p>
  Think of a thing you can do that will make a positive change to your neighbourhood.
</p>

<p>
  It might be something small like picking up litter when you see it, or a bigger commitment like checking in on an elderly neighbour.
</p>

<p>
  Now imagine five people in your community have promised to do that thing too, or ten people, or twenty. How would that make you feel about your neighbourhood?
</p>

<p>
  It might be hard for one person on their own to make a difference. But when a group of people agree to take action, things start happening.
</p>

<p>
  Make a pact, make a change.
</p>

<%= link_to 'Create a new pact', new_pact_path, class: 'btn btn-primary'%>
