<h1>Pact</h1>

<p>
  Think of a thing you can do that will make a positive change to your neighbourhood - pick up litter, check in on a neighbour, arrange a street party.
</p>

<p>
  Now imagine five people in your community have promised to do that thing too, or ten people, or twenty. How would that make you feel about your neighbourhood?
</p>

<p>
  It might be hard for one person on their own to make a difference. But when a group of people agree to take action, things start happening.
</p>


<%= link_to 'Get started', new_pact_path, class: 'btn btn-primary'%>
