<h1>Your pact</h1>

<ol>
    <li>I, {pact.name}, will {pact.action}, and I need {pact.people_requirement} to join me.</li>
</ol>

<h2>Share your pact</h2>
<div>
  <button class="btn btn-primary-dark">View print-ready poster</button>
</div>

  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
