/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'coop-toolkit/coop-toolkit';

button, a.btn {
  margin-bottom: 1rem;
}

[contenteditable=true] {
  padding: 4px;
  margin: 2px;
  background-color: #66CDAA;
}

[contenteditable=true]:empty {
  background-color: #CCC;
  color: white;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
}

blockquote {
  font-size: 200%;

}

h1 {
  &.header-poster {
    display: none;
  }
}

.fb-share-button {
    vertical-align: top;
}

@media print {
  h1 {
    display: none;
    &.header-poster {
      display: block;
    }
  }
  blockquote {
    &.pact-statement {
      font-size: 2.8rem;
    }
  }
  section.share-pact {
    display: none;
  }
}
