@import "coop-toolkit/colours";
@import "coop-toolkit/variables";

// Reset
@import "coop-toolkit/normalize";

@import "coop-toolkit/global";

@import "coop-toolkit/logo";
@import "coop-toolkit/grid";
@import "coop-toolkit/links";
@import "coop-toolkit/lists";
@import "coop-toolkit/icons";
@import "coop-toolkit/tables";
@import "coop-toolkit/buttons";
@import "coop-toolkit/forms";
@import "coop-toolkit/responsive";

// Components
@import "coop-toolkit/components/top-bar";
@import "coop-toolkit/components/info-banner";
@import "coop-toolkit/components/header-main";
@import "coop-toolkit/components/navigation-main";
@import "coop-toolkit/components/navigation-inpage";
@import "coop-toolkit/components/footer-main";
@import "coop-toolkit/components/skip-nav";
@import "coop-toolkit/components/tiles";
@import "coop-toolkit/components/messages";
@import "coop-toolkit/components/pagination";
@import "coop-toolkit/components/breadcrumbs";
@import "coop-toolkit/components/search";
@import "coop-toolkit/components/tabs";
@import "coop-toolkit/components/toggles";

// Helpers / style trumps
@import "coop-toolkit/helpers";

body#a4-poster {
  position: relative;
  height: 27cm;
  div.pact-speech-bubble {
    border-radius: 0.2rem;
    background-color: #117e80;
    position: relative;
    z-index: 0;
    &:before {
      content: '';
      position: absolute;
      bottom: -1cm;
      left: 2cm;
      width: 4cm;
      height: 4cm;
      background-color: #117e80;
      -webkit-transform: rotate(-25deg);
      transform: rotate(-25deg);
      z-index: -1;
    }

    p {
      z-index: 4;
      width: 100%;
      padding: 2cm;
      color: $white;
      font-size: 48pt;
      font-weight: bold;
      line-height: 1.2;
    }
  }
  footer {
    padding: 2cm 0 0 2cm;
    position: absolute;
    bottom: 0;
    width: 100%;
    div.cta {
      float: left;
      font-size: 36pt;
      width: 100%;
      margin-bottom: 1cm;
      span {
        &.cta-text {
          width: 100%;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }
        &.cta-url {
          margin: 0;
          padding: 0;
          font-size: 24pt;
          font-family: monospace;
          background: $added-to-page;
          a {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    div.coop-logo {
      float: right;
    }
  }
}
